{% extends "index.html"%}
{% block title %} Blog G13 - Perfil {{usuario}} {% endblock %}
{% block contenido %}
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>PERFIL</span>
              <h4>Estas viendo el perfil de: <em>{{usuario}}</em></h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="content">
                  <div class="row">
                    <div class="col-sm-6">
                      <table class="table">
                        <tr>
                          <td><h5>Nombre:</h5></td>
                          <td>{{usuario.first_name}}</td>
                        </tr>
                        <tr>
                          <td><h5>Apellido:</h5></td>
                          <td>{{usuario.last_name}}</td>
                        </tr>
                        <tr>
                          <td><h5>Fecha de nacimiento:</h5></td>
                          <td>{{usuario.fecha_nacimiento}}</td>
                        </tr>
                        <tr>
                          {% if usuario.fecha_nacimiento %}
                          <td><h5>Edad:</h5></td>
                          <td>{{usuario.get_edad}}</td>
                          {% endif %}
                        </tr>
                        <tr>
                          <td><h5>Email:</h5></td>
                          <td>{{usuario.email}}</td>
                        </tr>
                        <tr>
                          <td><h5>Registrado:</h5></td>
                          <td>{{usuario.date_joined}}</td>
                        </tr>
                      </table>

                      <p>
                        {% if user.is_miembro or user.is_superusuario or user == usuario %}
                          <a href="{% url 'usuario:actualizar' pk=usuario.pk %}?next={{request.path}}"><button>EDITAR PERFIL</button></a>
                        {% if user.is_miembro or user.is_superuser %}
                          <a href="{% url 'contacto:verContactos' %}"><button>ver mensajes</button></a>
                          <a href="{% url 'usuario:usuarios' %}"><button>ver usuarios</button></a>
                        {% endif %}
                        {% endif %}
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <p>Foto de perfil:</p>
                      <div class="circular--profile center">
                        <img src="{{usuario.foto_perfil.url}}" alt="foto perfil {{usuario}}">
                      </div>
                      <br>
                      <br>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h3>{{articulos|length}} articulos</h3>
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">Titulo</th>
                              <th scope="col">link</th>
                              {% if user.is_superuser or user.is_miembro %}
                              <th colspan="2">edicion</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                          {% for articulo in articulos %}
                            <tr>
                              <td>{{articulo.fecha}}</td>
                              <td>{{articulo.titulo}}</td>
                              <td><a href="{{articulo.get_url_completo}}">ver articulo</a></td>
                              {% if user.is_superuser or user.is_miembro %}
                              <td><a href="{% url 'articulo:editar' pk=articulo.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-pencil center"></i></a></td>
                              <td><a href="{% url 'articulo:borrar' pk=articulo.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-trash danger center"></i></a></td>
                              {% endif %}
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="5">No ha publicado articulos</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h3>{{titulo_comentarios}}</h3>
                      <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                          <thead class="table-dark">
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">contenido</th>
                              <th scope="col">comenta</th>
                              <th scope="col">link</th>
                              {% if user.is_superuser or user.is_miembro %}
                              <th colspan="2">edicion</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                          {% for comentario in comentarios %}
                            <tr>
                              <td>{{comentario.creado}}</td>
                              <td>{{comentario.contenido}}</td>
                              {% if comentario.articulo %}
                              <td>{{comentario.articulo}}</td>
                              <td><a href="{{comentario.articulo.get_url_completo}}">ver articulo</a></td>
                              {% else %}
                              <td>{{comentario.comentario_padre}}</td>
                              <td><a href="{{comentario.comentario_padre.articulo.get_url_completo}}">ver articulo</a></td>
                              {% endif %}
                              {% if user.is_superuser or user.is_miembro %}
                              <td><a href="{% url 'comentario:editar' pk=comentario.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-pencil center"></i></a></td>
                              <td><a href="{% url 'comentario:borrar' pk=comentario.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-trash danger center"></i></a></td>
                              {% endif %}
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="5">No ha publicado comentarios</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <a href="{% url 'inicio' %}">volver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}