{% extends "index.html"%}
{% block title %} Blog G13 - Perfil {{usuario}} {% endblock %}
{% block contenido %}
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>PERFIL</span>
              <h4>Estas viendo el perfil de: <em>{{usuario}}</em></h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="content">
                  <div class="row">
                    <div class="col-sm-6">
                      <p><h5>Usuario: </h5>{{usuario.username}}</p>
                      <p><h5>Nombre: </h5>{{usuario.first_name}}</p>
                      <p><h5>Apellido: </h5>{{usuario.last_name}}</p>
                      <p><h5>Fecha nacimiento: </h5>{{usuario.fecha_nacimiento}}</p>
                      <p><h5>Edad: </h5>{{usuario.get_edad}}</p>
                      <p><h5>Email: </h5>{{usuario.email}}</p>
                      <p><h5>Registrado: </h5>{{usuario.date_joined}}</p>
                    </div>
                    <div class="col-sm-6">
                      <img src="{{usuario.foto_perfil.url}}" style="border-radius:5%; max-height:400px; max-width:400px;" alt="foto perfil {{usuario}}">
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                      <div class="col-sm-6">
                        <h3>{{titulo_articulos}}</h3>
                        <table class="table table-bordered">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">Titulo</th>
                              <th scope="col">link</th>
                              {% if user.is_miembro or user.is_superuser %}
                              <th colspan="2">edicion</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                          {% for articulo in articulos %}
                            <tr>
                              <td>{{articulo.fecha}}</td>
                              <td>{{articulo.titulo}}</td>
                              <td><a href="{{articulo.get_url_completo}}">ver articulo</a></td>
                              {% if user.is_miembro or user.is_superuser %}
                              <td><a href="{% url 'articulo:editar' pk=articulo.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-pencil center"></i></a></td>
                              <td><a href="{% url 'articulo:borrar' pk=articulo.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-trash danger center"></i></a></td>
                              {% endif %}
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="5">No ha publicado comentarios</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                      </div>
                      <div class="col-sm-6">
                        <h3>{{titulo_comentarios}}</h3>
                        <table class="table table-bordered">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Fecha</th>
                              <th scope="col">contenido</th>
                              <th scope="col">comenta</th>
                              <th scope="col">link</th>
                              {% if user.is_miembro or user.is_superuser %}
                              <th colspan="2">edicion</th>
                              {% endif %}
                            </tr>
                          </thead>
                          <tbody>
                          {% for comentario in comentarios %}
                            <tr>
                              <td>{{comentario.creado}}</td>
                              <td>{{comentario.contenido}}</td>
                              {% if comentario.articulo %}
                              <td>{{comentario.articulo}}</td>
                              <td><a href="{{comentario.articulo.get_url_completo}}">ver articulo</a></td>
                              {% else %}
                              <td>{{comentario.comentario_padre}}</td>
                              <td><a href="{{comentario.comentario_padre.articulo.get_url_completo}}">ver articulo</a></td>
                              {% endif %}
                              {% if user.is_miembro or user.is_superuser %}
                              <td><a href="{% url 'comentario:editar' pk=comentario.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-pencil center"></i></a></td>
                              <td><a href="{% url 'comentario:borrar' pk=comentario.pk %}?next={{request.path}}"><i class="fa-xl fa-solid fa-trash danger center"></i></a></td>
                              {% endif %}
                            </tr>
                          {% empty %}
                            <tr>
                              <td colspan="5">No ha publicado comentarios</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>                        
                      </div>
                    </div>
                  <a href="{% url 'inicio' %}">volver</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}