{% extends "index.html"%}
{% block contenido %}
<section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-8">
                <span>Creado por</span>
                <h4>Bienvenido nuevamente <em>{{usuario}}</em></h4>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                  <div class="content">
                      <p><h4>Usuario: </h4>{{usuario.username}}</p>
                      <p><h4>Nombre: </h4>{{usuario.first_name}}</p>
                      <p><h4>Apellido: </h4>{{usuario.last_name}}</p>
                      <p><h4>Fecha nacimiento: </h4>{{usuario.fecha_nacimiento}}</p>
                      <p><h4>Email: </h4>{{usuario.email}}</p>
                      <p><h4>Registrado: </h4>{{usuario.date_joined}}</p>
  
                      <img src="{{usuario.foto_perfil}}" style="max-height:400px; max-width:400px;" alt="foto perfil {{usuario}}">
                    
                    <hr>
                    <a href="{% url 'inicio' %}">volver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}