{% extends "index.html"%}
{% block contenido %}

<section class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-content">
            <div class="row">
              <div class="col-lg-8">
                <span>CONTRASEÑA</span>
                <h4>Su contraseña fue reestablecida. Revise su correo electronico<p></p></h4>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
