{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Estas recibiendo este correro porque tu (o alguien jugando a ser tu)
solicito que tu contraseña fuera restablecida en el sitio {{ domain }}. Si no quieres
restablecer tu contraseña, desestima este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para restablecer tu contraseña sigue las instrucciones del siguiente enlace
{% endblocktrans %}

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}
</a>

{% blocktrans %}tu nombre de usuario, en caso te hayas olvidado:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Cordialmente{% endblocktrans %},
{{ site_name }} {% blocktrans %}Green13{% endblocktrans %}