{% extends 'index.html' %}
{% load static %}
{% block title %} Articulo: {{articulo.titulo}}{% endblock %}
{% block articulo %}
            <img src='{{ articulo.imagen.url }}' alt="imagen">
            <h3>Titulo: {{articulo.titulo}}</h3>
            <p>Resumen: <strong>{{articulo.resumen}}</strong></p>
            <p>contenido: {{articulo.contenido}}</p>
            <p>Categoria: {{articulo.categoria}}</p>
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'articulos' %}">Volver</a>
{% endblock %}
