{% extends "base.html" %}
{% block articulos_nav %}
<li class="nav-item active">
{% endblock %}
{% block contenido %}
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
{% block articulo %}
<section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for articulo in articulos %}
                {% include "articulo_resumen.html" %}
                {% empty %}
                <h3>No se han publicado articulos</h3>
                {% endfor %}
              </div>
            </div>
          </div>
        {% include "tags.html" %}
        </div>
      </div>
    </section>
{% endblock  %}
{% endblock %}
