{% load articulo_tags %}
<div class="main-banner header-text">
  <h4 class="mb-5">Ultimas publicaciones</h4>
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for articulo in articulos_banner %}
            <div class="item">
                <img src="{{articulo.imagen.url}}" alt="Imagen {{articulo.titulo}}">
                <div class="orla">
                <div class="item-content">
                  <div class="main-content">
                    <div class="meta-category">
                      <a href="{% url 'articulo:categoria' pk=articulo.categoria.pk %}">
                      <span>{{articulo.categoria}}</span></a>
                    </div>
                    <a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}">
                      <h4>{{articulo.titulo}}</h4>
                    </a>
                    <ul class="post-info">
                      <li><a href="{% url 'usuario:perfil' pk=articulo.creado_por.id  %}">{{articulo.creado_por}}</a></li>
                      <li><a href="">{{articulo.fecha}}</a></li>
                      <li><a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}">
                      {% if articulo.comentario_set.all|is_active|length == 0 %}
                      sin comentarios
                      {% else %}
                      {{articulo.comentario_set.all|is_active|length}} {%if articulo.comentario_set.all|is_active|length == 1%}comentario{%else%}comentarios{%endif%}
                      {% endif %}
                      </a></li>
                    </ul>
                  </div>
                </div>
                </div>
            </div>
            {% empty %}
            <h4>No hay articulos disponibles</h4>
            {% endfor %}
        </div>
    </div>
</div>


