<div class="col-lg-12">
    <div class="sidebar-item comments">
      <div class="sidebar-heading">
        <h2>{{articulo.comentario_set.all.count}} comentarios</h2>
      </div>
      <div class="content">
        <ul>
          {% for comentario in articulo.comentario_set.all %}
          <li>
            <div class="author-thumb">
              <img src="assets/images/comment-author-01.jpg" alt="">
            </div>
            <div class="right-content">
              <h4>Usuario que comenta<span>{{ comentario.creado }}</span></h4>
              <p>{{ comentario.contenido }}</p>
            </div>
          </li>
          {% for respuesta in comentario.comentario_set.all %}
          <li class="replied">
            <div class="author-thumb">
              <img src="assets/images/comment-author-02.jpg" alt="">
            </div>
            <div class="right-content">
              <h4>Usuario que comenta comentarios<span>{{ respuesta.creado }}</span></h4>
              <p>{{respuesta.contenido}}</p>
            </div>
          </li>
          {% endfor %}
          {% empty %}
          <li> <p>Sin comentarios</p> </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
