{% extends "base.html" %}
{% load articulo_tags %}
{% block inicio_nav %} 
<li class="nav-item active">
{% endblock inicio_nav %}
{% block contenido %}
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
{% block articulo %}
{% include "banner.html" %}
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>Posteos mas comentados</span>
              <h4>Aqui estan los posteos mas comentados</h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-posts-with-banner blog-posts">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for articulo in articulos %}
                {% include "articulo/articulo_resumen.html" %}
                {% empty %}
                <h3>No se han publicado articulos</h3>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button">
                <a href="{% url 'articulo:articulos' %}">Ver todos</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    {% include 'articulo/busqueda_form.html' %}
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Publicaciones recientes</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <!-- Aca los ultimos posteos -->
                        {% for articulo in articulos %}
                        <li><a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}">
                          <h5>{{articulo.titulo}}</h5>
                          <span>{{articulo.fecha}}</span>
                        </a></li>
                        {% endfor %}
                        <!-- aca finalizan los ultimos posteos -->
                      </ul>
                    </div>
                  </div>
                </div>
        {% include "articulo/categorias.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock  %}
{% endblock %}
