{% extends "base.html" %}
{% load articulo_tags %}
{% block inicio_nav %} 
<li class="nav-item active">
{% endblock inicio_nav %}
{% block contenido %}
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
{% block articulo %}
{% include "banner.html" %}
<section class="blog-posts-with-banner blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                {% for articulo in articulos|is_active %}
                {% include 'articulo/articulo_resumen.html' %}
                {% empty %}
                <h3>No se han publicado articulos</h3>
                {% endfor %}
              </div>
            </div>
          </div>
        {% include "articulo/categorias.html" %}
        </div>
      </div>
    </section>
{% endblock  %}
{% endblock %}
