{% extends "index.html" %}
{% load static %}
{% block contenido %} 
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>NOSOTROS</span>
              <h4>Aqui encontrara informacion sobre nosotros</p>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="assets/images/about-us.jpg" alt="">
        <p>Somos un grupo apasionado de personas comprometidas con el medio ambiente y la sostenibilidad. Nuestra misión es difundir información, consejos prácticos y soluciones innovadoras para promover la conciencia ambiental en la sociedad.
          Hemos logrado convertir nuestra visión en realidad gracias a un curso de programación dictado por "El Informatorio” en su edición 2023". A través de este curso, adquirimos las habilidades y conocimientos necesarios para diseñar y desarrollar nuestro propio blog dedicado al medio ambiente.
          Encontrarás una amplia variedad de publicaciones relacionadas con temas ambientales y ecológicos. Desde artículos sobre cambio climático, conservación de la biodiversidad, energías renovables, hasta consejos para llevar un estilo de vida más sostenible en el día a día.</p>
          
          <p>Te invitamos a unirte a nuestra comunidad en línea y ser parte del movimiento hacia un mundo más sostenible. Juntos, podemos marcar la diferencia y trabajar por un futuro más verde y próspero para todos.
            ¡Gracias por visitar "GREEN13" y ser parte de este emocionante viaje hacia un planeta más consciente y saludable!</p>
        <div class="center">
          <a href="https://empleo.chaco.gob.ar/informatorio#/"  target="blank"><img src="{% static 'informatorio.png' %}" style="max-height:150px; width:auto;" alt="Logo informatorio"></a>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}    
