<div class="col-lg-12">
    <div class="sidebar-item submit-comment">
      <div class="sidebar-heading">
      </div>
      <div class="content">
        <form id="comment" action="{{articulo.get_comentario_url}}" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-12">
              {{form.as_p}}
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-button">ENVIAR</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

