{% extends 'home.html' %}

{% load static %}
  
    <title>{% block title %} Crear articulo {% endblock title %}</title>
  
{% block contenido %}

{% include "header.html" %}
<main>
  
    <h1> Artículo </h1>
      <ul>.
      </ul>
      <ul>.
      </ul>

</main>

    
    <center>
        <div class="row">
                <h1>Articulo</h1>
                <div class="col-lg-12">
                    <div class="blog-post">
                    <div class="blog-thumb">
                            <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                
                                    {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Listo</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </center>
{% include "footer.html" %}
{% endblock %}
