{% load articulo_tags %}
<div class="col-lg-12">
    <div class="blog-post">
      <div class="blog-thumb">
        <img src="{{ articulo.imagen.url }}" alt="" class="img-lista-articulo">
      </div>
      <div class="down-content">
        <span>{{articulo.categoria}}</span>
        <a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}"><h4>{{ articulo.titulo }}</h4></a>
        <ul class="post-info">
          <li><a href="{{ articulo.creado_por.get_link_verperfil }}">{{articulo.creado_por}}</a></li>
          <li><a href="#">{{articulo.fecha}}</a></li>
          <li>
            <a href="">
            {% if articulo.comentario_set.all|is_active|length == 0 %}
            sin comentarios
            {% else %}
            {{articulo.comentario_set.all|is_active|length}} {%if articulo.comentario_set.all|is_active|length == 1%}comentario{%else%}comentarios{%endif%}
            {% endif %}
            </a>
          </li>
        </ul>
        {% if user.is_superuser or user == articulo.creado_por %}
        <a class="fa-solid fa-pencil fa-xl" href="{% url 'articulo:editar' pk=articulo.id %}">
         <i ></i>
        </a>
        <a class="fa-solid fa-trash fa-xl" href="{% url 'articulo:borrar' pk=articulo.id %}">
          <i ></i>
        </a>
        {% endif %}
        <p>{{articulo.resumen}}</p>
        <div class="post-options">
          <div class="row">
            <div class="col-6">
              <ul class="post-tags">
                <li><i class="fa-solid fa-xl fa-tag"></i></li>
                <li>
                  <a href="{% url 'articulo:categoria' pk=articulo.categoria.pk %}">{{articulo.categoria}}</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="post-share">
                <li><i class="fa-solid fa-xl fa-share-alt"></i></li>
                <li><a href="#">Facebook</a>,</li>
                <li><a href="#"> Twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




