{% extends "index.html"%}
{% block title %} Blog G13 - Articulo {% endblock %}
{% block articulo %}

<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>ARTICULO</span>
              <h4>Titulo:
                <p>
                  {{articulo.titulo}}
                </p>
              </h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog-posts grid-system">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{articulo.imagen.url}}" alt="">
                </div>
                {% if user.is_superuser or user.is_miembro %}
                <a class="fas fa-pencil fa-xl" href="{% url 'articulo:editar' pk=articulo.id %}">
                 <i ></i>
                </a>
                <a class="fa-solid fa-trash fa-xl" href="{% url 'articulo:borrar' pk=articulo.id %}">
                  <i ></i>
                </a>
                {% endif %}
                <div class="down-content">
                  <span>{{articulo.categoria}}</span>
                  <a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}"><h4>{{articulo.titulo}}</h4></a>
                  <ul class="post-info">
                    <li><a href="{{ articulo.creado_por.get_link_verperfil }}">{{articulo.creado_por}}</a></li>
                    <li><a href="#">{{articulo.fecha}}</a></li>
                    <li><a href="#">{{articulo.comentario_set.all.count }} Comentarios</a></li>
                  </ul>
                  <p>{{articulo.contenido}}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags fa-xl">
                          <li>
                            <a href="{% url 'articulo:categoria' pk=articulo.categoria.pk %}">{{articulo.categoria}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt fa-xl"></i></li>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#"> Twitter</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include "../comentario/comentarios.html" %}
            {% if user.is_authenticated  %}
            {% include "../comentario/form-comentarios.html" %}
            {% endif %}
            <small>Para comentar ustede debe <a href="{% url 'usuario:login' %}?next={{request.path}}">iniciar sesion</a> o <a href="{% url 'usuario:registro' %}?next={{request.path}}">registrarse</a></small>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                {% include 'articulo/busqueda_form.html' %}
              </div>
            </div>
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Posteos recientes</h2>
                </div>
                <div class="content">
                  <ul>
                    <!-- Aca los ultimos posteos -->
                    {% for articulo in articulos_banner %}
                    <li><a href="{% url 'articulo:mostrarArticulo' id=articulo.id %}">
                      <h5>{{articulo.titulo}}</h5>
                      <span>{{articulo.fecha}}</span>
                    </a></li>
                    {% endfor %}
                    <!-- aca finalizan los ultimos posteos -->
                  </ul>
                </div>
{% include "articulo/categorias.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}