{% extends 'index.html' %}
{% load static %}
{% block title %} Articulo {% endblock %}
{% block contenido %}
{% include "header.html" %}

<main>
  <h1> Página de Articulo</h1>
</main>

  <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="blog-post">
                      {% for articulo in articulos %}
                      <div class="blog-thumb">
                        <img src="{{ articulo.imagen.url }}" width="400" height="550" alt=""><!---->
                      </div>
                      <div class="down-content"> <!---->
                        <span><a href="{{ articulo.contenido }}">{{ articulo.categoria }}</a></span>
                           <a href="{% url 'articulo:articulo' pk=articulo.id %}"><h4> {{ articulo.titulo }}</h4></a>
                        <ul class="post-info">
                          <li><a href="#">{{ articulo.fecha_hora }}</a></li>
                          <li><a href="#">Aca van la cantidad de comentarios</a></li>
                        </ul>
                        <p>{{ articulo.resumen }}.
                        <div class="post-options">
                          <div class="row">
                            <div class="col-6">
                              <ul class="post-share">
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><a href="#">Facebook</a>,</li>
                                <li><a href="#"> Twitter</a></li>
                                <div class="row">
                                    {% if user.is_superuser %}
                                    <a class="btn btn-succes btn-lg" 
                                      href="{% url 'articulo:eliminar' articulo.pk %}"> Eliminar articulo</a>
                                      <a class="btn btn-succes btn-lg" 
                                      href="{% url 'articulo:crear' %}"> Crear articulo</a>
                                    {% endif %}
                                </div>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% empty %}
                      <li>No hay articulos</li>
                      {% endfor %}
                    </div>
                  </div>
                <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{% url 'articulo:articulos' %}">Ver todos los artículos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </section>

{% include "footer.html" %}


{% endblock contenido %}
