{% extends "index.html"%}
{% block articulo %}
<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="blog-post">
                <div class="blog-thumb">
                  <img src="{{articulo.imagen.url}}" alt="">
                </div>
                {% if user.is_superuser or user == articulo.creado_por %}
                <button type="button" class="btn btn-primary btn-sm"><a href="{% url 'articulo:editar' pk=articulo.id %}">Editar</a></button>
                {% endif %}
                <div class="down-content">
                  <span>{{articulo.categoria}}</span>
                  <a href="post-details.html"><h4>{{articulo.titulo}}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{articulo.creado_por.username}}</a></li>
                    <li><a href="#">{{articulo.fecha}}</a></li>
                    <li><a href="#">{{articulo.comentario_set.all.count }} Comentarios</a></li>
                  </ul>
                  <p>{{articulo.contenido}}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-6">
                        <ul class="post-tags">
                          <!-- <li><i class="fa fa-tags"></i></li>
                          <li><a href="#">Best Templates</a>,</li>
                          <li><a href="#">TemplateMo</a></li> -->
                        </ul>
                      </div>
                      <div class="col-6">
                        <ul class="post-share">
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="#">Facebook</a>,</li>
                          <li><a href="#"> Twitter</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% include "../comentario/comentarios.html" %}
            {% if user.is_authenticated  %}
            {% include "../comentario/form-comentarios.html" %}
            {% endif %}
          </div>
        </div>
      </div>
{% include "articulo/categorias.html" %}
  </div>
  </div>
</section>
{% endblock %}