{% extends "index.html"%}
{% block contenido %}
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="row">
            <div class="col-lg-8">
              <span>Categoria</span>
              <h4>Cree aqui una nueva categoria</h4>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="all-blog-posts">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item submit-comment">
                <div class="sidebar-heading">
                  <h2>Ingrese el nombre de la categoria:</h2>
                </div>
                <div class="content">
                  <form action="{% url 'articulo:crearCategoria' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-12">
                        {{form.as_p}}
                      </div>
                      <input type="hidden" name="next" value="{{next}}">
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button">Crear</button>
                          <!-- <input type="hidden" name="next" value="{{next}}"> -->
                        </fieldset>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <a href="{% url 'inicio' %}">inicio</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}